.background-image{
  height: 310px;
  background-color: rgb(148, 148, 148);
  background-position: center center;
  background-size: cover;
}

.profile-image{
  width: 146px;
  height: 146px;
  border-radius: 78px;
  border: 3px solid white;
  background-size: cover;
}
