  <div class="home rpgui-content framed-golden" *ngIf="!showCharacterSheet">
    <div class="rpgui-container framed rpgui-center">
      <div *ngIf="!isLoggedIn">
        <h2>Enter the Dungeon</h2>
        <h3>Using Moralis and Metamask</h3>
        <section style="padding: 2rem">
          <button  class="rpgui-button" color="primary" (click)="login()">Login with Metamask</button>
          <br><br>
          <button class="rpgui-button" (click)="login('walletconnect')">
            Login with WalletConnect
          </button>
        </section>
      </div>
      <div *ngIf="isLoggedIn" >
        <h2> Welcome: </h2>
        <h2> {{ username }}</h2>
        <h2> Your account dir is :</h2>
        <h2> {{ ethAddress }} </h2>
        <h1>Last Login:</h1>
        <h2> {{lastLogin}}</h2>
          <button  class="rpgui-button" color="primary" [routerLink]="['/account']" (click)="goToAdventure"> Create Character </button>
          <button  class="rpgui-button" color="primary" [routerLink]="['/profile']" (click)="goToAdventure">Go to Profile </button>
<br><br>
          <h3 (click)="logout()"> log out </h3>
      </div>
    </div>
  </div>
<div *ngIf="showCharacterSheet">
  <app-account></app-account>
</div>
